html, body, #toucharea {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
span {
  position: absolute;
  height: 50px;
  width: 50px;
  background-size: contain;
  transition: all 15s linear;
}
h1, p {
  font-family: "Mountains of Christmas Bold";
  text-align: center;
  
}
h1 {
  margin: 0px 15px;
  font-size: 2.5em;
  color: red;
  position: relative;
  top: 30%;
}
p {
  margin: 0px 15px;
  font-size: 1.5em;
  color: green;
  position: relative;
  top: 40%;
}

.santa {
  animation-duration: 10s;
  animation-name: fly;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  background: url(images/santa.gif) no-repeat;
  background-size: cover;
  left: 0px;
  top: 0px;
  height: 208px;
  width: 390px
}
@keyframes fly {
  0% {
    left: -50%;
    top: -10%;
    transform: scale(.1);
  }
  100% {
    left: 150%;
    top: 5%;
    transform: scale(2);
  }
}

.gift {
  animation-duration: 1.5s;
  animation-name: bounceInUp;
}
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.xmas {
  animation-name: fadeInUpBig;
  animation-duration: 1.5s;
}
@font-face {
  font-family: "Mountains of Christmas Bold";
  src: url(fonts/MountainsofChristmas-Bold.ttf);
}